$def with (page)
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Assignment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/style/main.css">  
  <script src="../static/script/performance.js"></script>
  
</head>
<body>
  <nav class="navbar navbar-inverse">	
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <div>
        <ul class="nav nav-tabs">
		  $for (url, text) in menu:
		  <li>
		  $if page.get("url") == url: <a class="active" href="$url">
		  $else : <a href="$url">
		  $text</a></li>
        </ul>
	
      </div>
    </div>
  </nav>
  $:page
  <div class="navbar navbar-fixed-bottom animate-me">
    <div class="container">
      <p class="navbar-text"><b>Bootstrap Footer Content</b></p>
	</div>
  </div>
 
</body>
</html> 
